@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Okoul Talents <a href="https://www.okoul.com/">Product development and design challenges</a>.</p>
    <p>Net Core Quotes Web Application</p>
</div>
